* { 
    outline: 1px solid red;
}
body{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Header{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 64px;
margin-bottom: 64px;
}
.RPS{
    font-size: 48px;
    font-weight: bolder;
}
.name{
    font-size: 24px;
}
.Play_Options{
    display: flex;
    margin-bottom: 64px;
    width: 600px;
    justify-content: space-between;
}
.player-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.player{
font-size: 24px;
font-weight: bold;
}
.options{
width: 250px;
display: flex;
justify-content: space-between;
}
.cpu-options{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
width: 250px;
}
.cpu{
font-size: 24px;
font-weight: bold;
}
.cpu-choice{
font-size: 16px;
font-weight: bold;
}
.score{
    display: flex;
    width: 400px;
    justify-content: space-between;
}
.player-box{
display: flex;
align-items: center;
flex-direction: column;
gap: 16px;
}
.player-name{
font-size: 16px;
font-weight: bold;
}
.player-score{
font-size: 32px;
font-weight: bolder;
}
.cpu-box{
display: flex;
align-items: center;
flex-direction: column;
gap: 16px;
}
.cpu-name{
font-size: 16px;
font-weight: bold;  
}
.cpu-score{
font-size: 32px;
font-weight: bolder
}
.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}